@import "less/bootstrap.less";

@green:             #92c03d;
@yellow-green:      #cdd963;
@indigo:            #5c6baa;
@tp-gray:           #d1d2d4;
@teal:              #64c1c5;
@tp-gray-dark:      #6d6e7e;
@tp-gray-light:     #f1f1f2;

body {
    .amentities-top-right {
        background-color: @gray-light;
    }
}
