@import "less/bootstrap.less";
@green:             #92c03d;
@yellow-green:      #cdd963;
@indigo:            #5c6baa;
@tp-gray:           #d1d2d4;
@teal:              #64c1c5;
@tp-gray-dark:      #6d6e7e;
@tp-gray-light:     #f1f1f2;
@tp-green-blue: 	#299b8c;


body {

	h1, h2, h3, h4, h5, h6 {
		font-family: "nevis";
		line-height: 1.2em;
	}
	p, ul, li, a {
		font-family: "sofia";
	}
	.logo {
		height: 65px;
	}
	.navbar {
		margin-bottom: 0px;
		.menu-item {
			a {
				font-family: "nevis";
			}
		}
	}
	.homepage {
		.img-bordered {
			border-right: 15px solid white; 
			border-left: 15px solid white
		}
		p {
			line-height: 1.8em;
		}
		.caption {
			margin-left: 25px;
		}
	}
	.homepage-banner-wrapper {
		background-color: @green;
	}
	.homepage-other-wrapper {
		.row {
			padding: 30px;
		}
	}
	.homepage-testimonial-wrapper {
		background-color: @tp-green-blue;
		h2, p {
			color: white;
		}
	}
	.homepage-home-wrapper {
		background-color: @teal;
		h2, p {
			color: white;
		}
	}
	.homepage-available {
		padding-top: 20px;
	}
    .amentities-top-right {
        background-color: @gray-light;
    }


    .footer {
    	padding-top: 30px;
    	padding-bottom: 30px;
    	.bordered {
    		border-right: 1px solid @tp-gray-dark;
    		padding-left: 70px;
    	}
    	img {
    		margin: 70px;
    		margin-top: 10px;
    		margin-bottom: 30px;
    	}
    	ul {
    		list-style: none;
    		-webkit-margin-before: 0;
    		-webkit-padding-start: 0;
    		li {
    			line-height: 2em;
    			color: black;
    		}
    	}
    	.center {
    		text-align: center;
    	}
    }
    .why-us-wrapper {
        .why-us-header {
            background: @teal;
            height: 200px;
            p {
                color: white;
            }
        }
        .accordian-wrapper {
            background: @tp-gray-light;
        }
        #accordion {
            width: 50%;
            margin: auto;
            border: 3px solid white;
        }
        .ui-accordion-header {
            background-color: @tp-gray-dark;
            color: white;
            text-transform: uppercase;
            margin-top: 0px;
            padding: 5px 20px;
            position: relative;
        }
        .ui-accordion-header-active {
            background-color: @tp-gray;
            color: @tp-gray-dark;
        }
        .ui-accordion-content {
            background: white;
        }
        .glyphicon {
            color: white;
            padding: 5px 45px 5px 20px;
            position: absolute;
            right: 0px;
            border-left: 3px solid white;
        }
        .glyphicon-chevron-down {
            background: @yellow-green;
        }
        .glyphicon-chevron-up {
            background: @tp-gray-dark;
        }
    }
}
